.feed-page {
  display: flex;
  justify-content: center;
  align-items: flex-start;

  .feed {
    max-width: 300px;
    width: 100%;

    .posts {
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
    }
    .post {
      width: 100%;
      display: flex;
      background-color: rgb(31, 31, 30);
      padding: 0.5rem;
      flex-direction: column;
      gap: 0.5rem;

      .user {
        display: flex;
        gap: 0.85rem;
        align-items: center;

        .img-wrapper {
          border-radius: 50%;
          border: 2.5px solid rgba(255, 0, 0, 0);
          display: flex;
          justify-content: center;
          align-items: center;
          padding: 1px;
          background: conic-gradient(
              from 60deg,
              rgb(129, 27, 139),
              rgb(129, 27, 139),
              rgb(255, 102, 0),
              rgb(255, 102, 0),
              rgb(129, 27, 139),
              rgb(129, 27, 139)
            )
            border-box;
        }
        img {
          width: 2.5rem;
          aspect-ratio: 1/1;
          border-radius: 50%;
          object-fit: cover;
        }
      }

      .icons {
        display: flex;
        justify-content: space-between;
        .left {
          display: flex;
          gap: 0.75rem;
        }
        .like {
          color: red;
        }
        svg {
          width: 1rem;
          aspect-ratio: 1/1;
          color: white;
        }
        button {
          background-color: transparent;
          border: none;
          outline: none;
        }
      }
    }
  }
}
